In [1]:
import pandas as pd

Lectura del archivo CSV

In [2]:
mi_db = pd.read_csv('synergy_logistics_database.csv')

Obtencion de los años

In [3]:
años = mi_db.get('year').unique()

Separacion de las exportaciones e importaciones

In [4]:
exportaciones = mi_db[mi_db['direction'] == 'Exports']
exportaciones = exportaciones[exportaciones['total_value'] != 0]
importaciones = mi_db[mi_db['direction'] == 'Imports']
importaciones = importaciones[importaciones['total_value'] != 0]

Obtener las 10 rutas mas demandadas en exportaciones

In [5]:
rutas_exportaciones = exportaciones.groupby(['origin','destination','transport_mode','year']).count().sort_values(by=['total_value'],ascending=False)
diccionario_años = {}
for año in años:
    if año not in diccionario_años.keys():
        diccionario_años[año] = []
        for row in rutas_exportaciones.itertuples():
            if row[0][3] == año:
                tupla = (row[0][0],row[0][1],row[0][2],row[1])
                diccionario_años[año].append(tupla)

In [6]:
diccionario_10_rutas = {}
for año in diccionario_años.keys():
    diccionario_10_rutas[año] = diccionario_años[año][0:10]

Impresión de las 10 rutas mas demandadas por año

In [7]:
pd.DataFrame(data=diccionario_10_rutas)

,2015,2016,2017,2018,2019,2020
0,"(South Korea, Vietnam, Sea, 146)","(USA, Belgium, Sea, 143)","(Mexico, New Zealand, Sea, 147)","(USA, Mexico, Rail, 136)","(South Korea, Vietnam, Sea, 152)","(Netherlands, Belgium, Road, 154)"
1,"(Netherlands, Belgium, Road, 129)","(Germany, France, Road, 113)","(USA, Netherlands, Sea, 140)","(Japan, Canada, Air, 128)","(China, Mexico, Air, 145)","(South Korea, Vietnam, Sea, 152)"
2,"(Japan, Brazil, Sea, 111)","(China, Spain, Air, 105)","(South Korea, Japan, Sea, 139)","(China, South Korea, Rail, 124)","(United Kingdom, Ireland, Sea, 115)","(Canada, Mexico, Rail, 152)"
3,"(USA, Canada, Road, 110)","(Russia, Netherlands, Sea, 95)","(China, Spain, Air, 119)","(Japan, China, Sea, 108)","(United Kingdom, Spain, Sea, 104)","(China, Rusia, Rail, 134)"
4,"(Singapore, USA, Sea, 81)","(South Korea, Japan, Sea, 93)","(India, United Arab Emirates, Sea, 115)","(Mexico, Singapore, Sea, 105)","(Netherlands, France, Road, 102)","(Japan, Brazil, Sea, 127)"
5,"(China, Argentina, Air, 78)","(India, China, Rail, 82)","(China, Germany, Air, 97)","(Russia, Belorussia, Rail, 101)","(Germany, Mexico, Sea, 93)","(China, Mexico, Air, 114)"
6,"(Germany, USA, Sea, 74)","(Mexico, New Zealand, Sea, 76)","(Brazil, Mexico, Sea, 92)","(France, United Kingdom, Sea, 96)","(France, Belgium, Road, 91)","(USA, Argentina, Sea, 93)"
7,"(Germany, South Korea, Sea, 73)","(France, USA, Sea, 76)","(Australia, Brazil, Sea, 71)","(Australia, Thailand, Sea, 76)","(Russia, China, Road, 87)","(Germany, Brazil, Air, 79)"
8,"(USA, Netherlands, Sea, 71)","(Australia, United Kingdom, Sea, 71)","(Russia, Germany, Sea, 69)","(USA, Netherlands, Sea, 74)","(Australia, Singapore, Sea, 72)","(United Kingdom, Belgium, Sea, 79)"
9,"(Canada, USA, Rail, 66)","(Canada, China, Sea, 63)","(USA, Belgium, Sea, 67)","(China, Belgium, Air, 71)","(China, Japan, Sea, 70)","(United Kingdom, Spain, Sea, 72)"

Obtención de las 10 rutas mas demandadas de importaciones

In [8]:
rutas_importaciones = importaciones.groupby(['origin','destination','transport_mode','year']).count().sort_values(by=['total_value'],ascending=False)
diccionario_años = {}
for año in años:
    if año not in diccionario_años.keys():
        diccionario_años[año] = []
        for row in rutas_importaciones.itertuples():
            if row[0][3] == año:
                tupla = (row[0][0],row[0][1],row[0][2],row[1])
                diccionario_años[año].append(tupla)

In [9]:
diccionario_10_rutas = {}
for año in diccionario_años.keys():
    diccionario_10_rutas[año] = diccionario_años[año][0:10]

In [10]:
pd.DataFrame(data=diccionario_10_rutas)

,2015,2016,2017,2018,2019,2020
0,"(Singapore, Thailand, Sea, 78)","(Australia, Japan, Sea, 102)","(France, Poland, Rail, 65)","(Mexico, China, Sea, 85)","(Germany, China, Sea, 152)","(Singapore, Thailand, Sea, 85)"
1,"(Mexico, USA, Rail, 75)","(Spain, Germany, Road, 60)","(Germany, Mexico, Sea, 63)","(Japan, Mexico, Sea, 83)","(China, Japan, Air, 80)","(Brazil, China, Sea, 66)"
2,"(France, Germany, Road, 75)","(Japan, Mexico, Sea, 51)","(USA, Canada, Rail, 60)","(Mexico, Japan, Sea, 61)","(Japan, United Arab Emirates, Sea, 62)","(China, Thailand, Road, 48)"
3,"(Malaysia, Thailand, Rail, 63)","(Singapore, Thailand, Sea, 49)","(Italy, Poland, Rail, 56)","(China, Japan, Air, 51)","(Singapore, Thailand, Sea, 61)","(USA, China, Air, 45)"
4,"(China, Thailand, Road, 62)","(China, Singapore, Sea, 41)","(United Kingdom, Canada, Sea, 54)","(China, United Arab Emirates, Sea, 39)","(South Korea, United Arab Emirates, Sea, 49)","(China, United Arab Emirates, Sea, 34)"
5,"(USA, Thailand, Sea, 50)","(Mexico, Canada, Sea, 39)","(Malaysia, Thailand, Rail, 53)","(Germany, China, Sea, 38)","(Russia, India, Sea, 42)","(Malaysia, Thailand, Rail, 32)"
6,"(Spain, Germany, Road, 49)","(China, Thailand, Rail, 35)","(Japan, Mexico, Sea, 47)","(Canada, USA, Road, 32)","(China, United Arab Emirates, Sea, 41)","(Germany, India, Sea, 30)"
7,"(South Korea, Germany, Air, 29)","(China, Japan, Air, 35)","(South Korea, Mexico, Sea, 39)","(Mexico, USA, Road, 29)","(USA, India, Sea, 30)","(USA, Thailand, Sea, 28)"
8,"(Japan, Thailand, Sea, 27)","(Japan, Canada, Sea, 33)","(Japan, Canada, Sea, 32)","(Mexico, Germany, Sea, 28)","(Brazil, China, Sea, 29)","(USA, India, Sea, 27)"
9,"(USA, Germany, Air, 25)","(Malaysia, Thailand, Rail, 33)","(China, Japan, Air, 32)","(Italy, Mexico, Sea, 28)","(Japan, Mexico, Sea, 19)","(Spain, Germany, Road, 25)"

Obtención de medios de transporte mas importantes en exportaciones

In [11]:
valores_transporte = exportaciones.groupby(['transport_mode','year']).sum().reset_index()
medios_transporte = valores_transporte.get('transport_mode').unique()
diccionario = {}
for medio_transporte in medios_transporte:
    promedio = valores_transporte[valores_transporte['transport_mode'] == medio_transporte].total_value.mean()
    if medio_transporte not in diccionario.keys():
        diccionario[medio_transporte] = promedio
pd.Series(data=diccionario).sort_values(ascending=False)

Sea     1.093210e+10
Rail    5.750840e+09
Air     5.464191e+09
Road    4.546748e+09
dtype: float64

Obtención de medios de transporte mas importantes en importaciones

In [12]:
valores_transporte = importaciones.groupby(['transport_mode','year']).sum().reset_index()
diccionario = {}
for medio_transporte in medios_transporte:
    promedio = valores_transporte[valores_transporte['transport_mode'] == medio_transporte].total_value.mean()
    if medio_transporte not in diccionario.keys():
        diccionario[medio_transporte] = promedio
pd.Series(data=diccionario).sort_values(ascending=False)

Sea     5.823000e+09
Rail    1.520500e+09
Road    1.198000e+09
Air     9.128333e+08
dtype: float64

Obtencion de 80% de valor total de importaciones y exportaciones

Exportaciones

In [13]:
variable_temp = exportaciones.groupby(['year','origin','destination']).total_value.sum()

In [14]:
variable_temp = variable_temp.reset_index()

In [15]:
for año in años:
    nombre_archivo = f'paises_generan_80_por_ciento_{año}.csv'
    data_temp = variable_temp[variable_temp['year'] == año]
    ingresos_totales_año = data_temp.total_value.sum()
    data_temp['pct'] = (data_temp.total_value * 100) / ingresos_totales_año
    data_temp = data_temp.sort_values(by=['pct'],ascending=False)
    data_temp['pct_acum'] = data_temp.pct.cumsum()
    data_temp = data_temp[data_temp['pct_acum'] < 80]
    data_temp.to_csv(nombre_archivo)

/tmp/ipykernel_22211/2379383866.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_temp['pct'] = (data_temp.total_value * 100) / ingresos_totales_año

Importaciones

In [16]:
variable_temp = importaciones.groupby(['year','origin','destination']).total_value.sum()

In [17]:
variable_temp = variable_temp.reset_index()

In [18]:
for año in años:
    nombre_archivo = f'paises_generan_80_por_ciento_{año}_importaciones.csv'
    data_temp = variable_temp[variable_temp['year'] == año]
    ingresos_totales_año = data_temp.total_value.sum()
    data_temp['pct'] = (data_temp.total_value * 100) / ingresos_totales_año
    data_temp = data_temp.sort_values(by=['pct'],ascending=False)
    data_temp['pct_acum'] = data_temp.pct.cumsum()
    data_temp = data_temp[data_temp['pct_acum'] < 80]
    data_temp.to_csv(nombre_archivo)

/tmp/ipykernel_22211/1231483617.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_temp['pct'] = (data_temp.total_value * 100) / ingresos_totales_año